////////////////////////////////////////////////////////////////////////////////
// HOME PAGE
////////////////////////////////////////////////////////////////////////////////

#homepage{
  @include span-columns(12);
  height: calc(100vh);
  position: relative;

  &::after {
    display: block;
    clear: none;
    content: "";
  }
  aside{
    @include span-columns(3);
    margin-top: 10px;
    position: absolute;

    #userInfo{
      @include span-columns(11.5);
      @include shift(.85);
      background: #F78883;
      // border: #A0A0A0 2px solid;
      border-radius: 5px;
      box-shadow: 4px 4px #A9AEBD;
      margin-bottom: 5px;

      #userAvatar{
          @include span-columns(6);
          margin-top: 5%;
          height: 150px;
          border-radius: 50%;
          border: #fff 4px solid;
          top: 500px;

          &:first-of-type{
            @include shift(1.5);
          }
        }

      .nameBlock{
        @include span-columns(10);
        @include shift(2);
        margin-top: 12px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: lighter;
        color: #fff;

        .label{
          @include span-columns(10);
        }
      }
    }

    #friendsList{
      @include span-columns(11.5);
      @include shift(.85);
      height: 410px;
      background: #F3F3F3;
      margin-top: 8px;
      border-radius: 5px;
      box-shadow: 4px 4px #A9AEBD;
      overflow: scroll;

      span{
        @include span-columns(12);
        background: #3878D7;
        height: 50px;
        padding: 15px 0 0 40px;
        font-size: 20px;
        font-weight: lighter;
        border-bottom: #fff 3px solid;
        border-radius: 5px;
        color: #fff;
      }

      #followingList{
        @include span-columns(12);
        margin: 0;

        li{
          @include span-columns(10);
          @include shift(.5);
          list-style: none;

        a{
          @include span-columns(12);
          text-decoration: none;
          color: gray;
          font-weight: lighter;
          font-size: 18px;
          margin-top: 7px;

          &:hover{
            color: red;
            }
          }
        }
      }
    }
  }

  #goalsListBox{
    @include span-columns(8.7);
    margin-top: 10px;
    height: 657px;
    background: #F3F3F3;
    border-radius: 8px;
    box-shadow: 4px 4px #A9AEBD;
    right: 25px;
    margin-bottom: 5px;
    position: absolute;
    overflow: scroll;

    #goalsLabel{
      @include span-columns(11);
      @include shift(.5);
      margin-top: 20px;
      padding: 5px 0 5px 15px;
      font-size: 30px;
      font-weight: lighter;
      background: #3878D7;
      color: #fff;
      border-radius: 5px;
      box-shadow: 4px 4px #A9AEBD;

    }

    .goal{
      @include span-columns(11);
      @include shift(.5);
      margin-top: 10px;
      border: none;
      border-radius: 5px;
      box-shadow: 4px 4px #A9AEBD;
      background: #6FA9FC;
      overflow: visible;

      p{
        @include span-columns(10);
        padding: 12px 0 0 5px;
        border-radius: 5px;
        font-weight: bold;
        color: #fff;
        background: #3878D7;
        margin-bottom: 0;
        height: 40px;
        margin-top: 10px;
      }

      .commentSection{
        @include span-columns(12);
        display: block;
        margin-top: -40px;
        border-radius: 5px;
        background: #6FA9FC;

        div{
          input{
            @include span-columns(10);
            @include shift(1);
            border-radius: 5px;
            border: none;
            height: 30px;
            margin-bottom: 5px;
          }

          span{
            @include span-columns(10);
          }
        }


        li{
          @include span-columns(11);
          @include shift(.9);
          list-style: none;

          p{
            @include span-columns(11);
            padding: 12px 0 0 5px;
            border-radius: 5px;
            background: #3878D7;
            color: #fff;
            margin-top: 5px;
            margin-bottom: 0;

            &:last-of-type{
              margin-bottom: 10px;
            }
          }
        }

        .commentContainer{
          @include span-columns(12);

          span{
            @include shift(.5);
            margin-top: 10px;
          }
        }
      }


      #completedBox{
        @include span-columns(1);
        padding: 35px 0 0 26px;
        height: 100px;

        button{
          width: 25px;
          height: 25px;
          background: #fff;
          border: none;
          border-radius: 50%;

          &:hover{
            background: red;
          }
        }
      }

      #goalTxt{
        @include span-columns(10);
        height: 40px;
        margin-top: 10px;
        border-radius: 5px;
        border: none;
        padding-left: 5px;
      }

      a{
        @include span-columns(1);
        @include omega(n);
        margin-top: 18px;

        i{
          @include span-columns(12);
          color: #B71C2D;
          height: 30px;
          font-size: 30px;

          &:hover{
            color: #F7263C;
          }
        }
      }
    }
  }
}


@media (max-width: 768px) and (min-width: 481px) {
  #homepage{
    height: 900px;

    aside{
      @include span-columns(12);


      #userInfo{
        @include span-columns(7);
        @include shift(.3);
        height: 190px;

        #userAvatar{
          @include span-columns(4);
          height: 140px;
          margin-top: 17px;

          &:first-of-type{
            @include shift(1.5);
          }
        }

        .nameBlock{
          @include span-columns(5);
          @include shift(.3);
          margin-top: 40px;
          font-size: 18px;
        }
      }

      #friendsList{
        @include span-columns(4.5);
        @include omega(n);
        @include shift(0);
        height: 190px;
        margin-top: 0px;
      }
    }

    #goalsListBox{
      @include span-columns(11.5);
      @include shift(.3);
      top: 205px;
      right: 13px;

      #goal{
        @include shift(.5);

        #completedBox{
          padding-left: 15px;
        }

        a{
          @include shift(9.8);
          margin-top: 20px;
        }
      }

    }
  }


}

@media (max-width: 480px) and (min-width: 300px) {
  #homepage{
    height: 900px;

    aside{
      @include span-columns(12);


      #userInfo{
        @include span-columns(5.75);
        @include shift(.3);
        height: 200px;

        #userAvatar{
          @include span-columns(8);
          @include omega(n);
          height: 120px;
          margin-top: 17px;

          &:first-of-type{
            @include shift(2);
          }
        }

        .nameBlock{
          @include span-columns(11);
          @include shift(1);
          margin-top: 10px;
          font-size: 14px;
        }
      }

      #friendsList{
        @include span-columns(5.75);
        @include omega(n);
        @include shift(0);
        height: 200px;
        margin-top: 0px;

      #followingList{
        margin: 0;
        padding-left: 35px;

          a{
            @include span-columns(12);
            @include shift(0);
          }
        }
      }
    }

    #goalsListBox{
      @include span-columns(11.5);
      @include shift(.3);
      height: 680px;
      top: 215px;
      right: 7px;

      #goal{
        @include shift(.5);

        #completedBox{
          padding-left: 15px;
        }

        #goalTxt{
          @include span-columns(9.5);
          @include shift(1);
        }

        a{
          @include shift(9.5);
          margin-top: 20px;
        }
      }
    }
  }


}
