@import "../../dist/bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../dist/bower_components/neat/app/assets/stylesheets/neat";
@import "../../dist/bower_components/normalize-css/normalize";

@import "signinpage";
@import "signuppage";
@import "homepage";


*{
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  height: 100%;
}
body{
  height: 100%;
  @include outer-container(100%);
}

.appContainer, #app {
  height: 100%;
}

header{
  @include span-columns(12);
  height: 60px;
  padding: 12px 0 0 0;
  border-bottom: #F3F3F3 3px solid;

  #logo {
    @include span-columns(4);
    @include shift(.5);
    font-weight: lighter;
    letter-spacing: .5px;
    text-decoration: none;
    color: #3878D7;

    i {
      @include span-columns(1);
      margin-right: 13px;
      margin-top: 2px;
      font-size: 38px;
    }

    span{
      font-family: 'Armata', sans-serif;
      font-weight: normal;
      font-size: 36px;
    }
  }

  #headerNav{
    @include span-columns(3);
    @include shift(4.5);
    margin-top: 8px;

    input{
      @include span-columns(8);
      height: 25px;
      font-size: 15px;
      font-weight: lighter;
      border-radius: 3px;
      border: #A9AEBD 1px solid;
      padding-left: 5px;
    }

    a{
      @include span-columns(1.85);
      @include shift(7);
      text-decoration: none;
      color: #000;
      height: 25px;
      padding-top: 5px;
      font-weight: lighter;

      &:hover{
        color: #5D76D4;
        border-bottom: red 2px solid;
      }
    }
  }
}

#splashpage{
  @include span-columns(12) ;

  #homeNav {
    background-color: #F3F3F3;
    height: 30px;
    padding: 7px 0 0 0;

    span{
      @include shift(.5);
      @include span-columns(4);
      font-weight: lighter;
    }

    a{
      @include shift(6.42);
      text-decoration: none;
      color: #000;
      margin-right: 15px;
      height: 30px;
      font-weight: lighter;

      &:hover{
        color: #5D76D4;
        border-bottom: red 2px solid;
        }
      }
    }
  }

  #hero{
    @include span-columns(12);
    background: gray url("../../assets/goalHero.jpg") no-repeat fixed center;
    height: 450px;
    position: relative;
    color: #fff;
    font-weight: lighter;


      #signupBtn{
        @include span-columns(1.4);
        @include shift(7.3);
        font-size: 20px;
        font-weight: lighter;
        color: #fff;
        height: 40px;
        border: none;
        border-radius: 5px;
        background: #F7263C;
        position: absolute;
        top: 195px;
        left: 15px;
        text-decoration: none;
        text-align: center;
        padding-top: .6%;

        &:hover{
          background: #B71C2D;
        }
      }

      #textTop{
        @include span-columns(5);
        margin-left: 50%;
        margin-top: 70px;
        font-size: 2.6vw;
      }

      #textBottom{
        @include span-columns(5);
        margin-left: 53%;
        font-size: 2.5vw;
        margin-top: 15px;
      }
  }

  #goalsInfo{
    @include span-columns(12);
    height: 500px;
    margin-top: 50px;

  #customerContainer{
    @include span-columns(3);
    @include omega(n);
    height: 450px;

    &:first-of-type{
      @include shift(2);
    }

    #customerPicture1{
      @include span-columns(9);
      @include omega(n);
      margin-top: 5%;
      height: 250px;
      background: gray url("../../assets/tim.jpg") no-repeat  0px 0px;
      background-size: 250px 250px;
      border-radius: 50%;
      top: 500px;
    }

    #customerQuote{
      @include span-columns(10);
      @include omega(n);
      height: 200px;
      background: #fff;
      margin-top: 20px;
      font-weight: lighter;
      color: gray;
      padding: 7px;
      text-align: center;

      &:first-of-type{
        @include shift(3);
      }
    }
  }

  #customerContainer{
    @include span-columns(3);
    @include omega(n);
    height: 450px;

    &:first-of-type{
      @include shift(2);
    }

    #customerPicture2{
      @include span-columns(9);
      @include omega(n);
      margin-top: 5%;
      height: 250px;
      background: gray url("../../assets/lee.jpg") no-repeat  0px 0px;
      background-size: 250px 250px;
      border-radius: 50%;
      top: 500px;
    }

    #customerQuote{
      @include span-columns(10);
      @include omega(n);
      height: 200px;
      background: #fff;
      margin-top: 20px;
      font-weight: lighter;
      color: gray;
      padding: 7px;
      text-align: center;

      &:first-of-type{
        @include shift(3);
      }
    }
  }
  #customerContainer{
    @include span-columns(3);
    @include omega(n);
    height: 450px;

    &:first-of-type{
      @include shift(2);
    }


    #customerPicture3{
      @include span-columns(9);
      @include omega(n);
      margin-top: 5%;
      height: 250px;
      background: gray url("../../assets/jase.jpg") no-repeat 0px 0px;
      background-size: 250px 250px;
      border-radius: 50%;
      top: 500px;
    }

    #customerQuote{
      @include span-columns(10);
      @include omega(n);
      height: 200px;
      background: #fff;
      margin-top: 20px;
      font-weight: lighter;
      color: gray;
      padding: 7px;
      text-align: center;

      &:first-of-type{
        @include shift(3);
      }
    }
  }
}

footer{
  @include span-columns(12);
  height: 250px;
  background: #A0A0A0;
  margin-top: 30px;

  #logo {
    @include span-columns(4);
    @include shift(.5);
    margin-top: 20px;
    font-weight: lighter;
    letter-spacing: .5px;
    text-decoration: none;
    color: #FFF;

    i {
      @include span-columns(1);
      margin-right: 13px;
      margin-top: 2px;
      font-size: 38px;
    }

    span{
      font-family: 'Armata', sans-serif;
      font-weight: normal;
      font-size: 36px;
    }
  }

  #socialNav{
    @include span-columns(2);
    @include shift(5.2);
    margin-top: 30px;

    a{
      @include span-columns(2);

      i{
        @include span-columns(10);
        font-size: 30px;
        color: #fff;

        &:hover{
          color: #5F95E3;
          border-bottom: red 2px solid;
        }
      }
    }
  }

  #footerNav1{
    @include span-columns(12);
    margin-top: 20px;
      a{
        @include span-columns(2);
        text-decoration: none;
        color: #fff;
        font-weight: lighter;
        font-size: 20px;

        &:first-of-type{
          @include shift(4.4);
        }

        &:hover{
          color: red;
          text-decoration: underline;
        }
      }
  }

  #footerNav2{
    @include span-columns(12);
    margin-top: 5px;
      a{
        @include span-columns(2);
        text-decoration: none;
        color: #fff;
        font-weight: lighter;
        font-size: 20px;

        &:first-of-type{
          @include shift(4.4);
        }

        &:hover{
          color: #5F95E3;
          text-decoration: underline;
        }
      }
  }

  #footerNav3{
    @include span-columns(12);
    margin-top: 5px;
      a{
        @include span-columns(2);
        text-decoration: none;
        color: #fff;
        font-weight: lighter;
        font-size: 20px;

        &:first-of-type{
          @include shift(4.4);
        }

        &:hover{
          color: red;
          text-decoration: underline;
        }
      }
  }

  #footerNav4{
    @include span-columns(12);
    margin-top: 5px;

      a{
        @include span-columns(2);
        text-decoration: none;
        color: #fff;
        font-weight: lighter;
        font-size: 20px;

        &:first-of-type{
          @include shift(4.4);
        }

        &:hover{
          text-decoration: underline;
          color: #5F95E3;
        }
      }
  }
}

@media (min-width:769px) {
  .checkSize {
    padding-top: 0px;
  }
}

@media (max-width: 768px) and (min-width: 481px) {

  .checkSize {
    padding-top: 1px;
  }

  a#logo {
    @include span-columns(7);
  }

  header{


    #headerNav{
      @include span-columns(3);
      @include shift(1.38);
      a{
        @include span-columns(3.3)
      }
    }
  }

  #splashpage{
    #homeNav{

      span{
        @include shift(.5);
        @include span-columns(6);
        font-weight: lighter;
      }

      a{
        @include span-columns(1.1);
        @include shift(4.305);
        @include omega(n);
        height: 20px;
      }
    }
    #hero {
      background-position: center relative;
      height: 325px;

      span{
        font-size: 28px;

        &#textTop {
          @include shift(5.5);
          @include span-columns(6.5);
          @include omega(n);
        }

        &#textBottom {
          @include shift(6.5);
          @include span-columns(5.5);
          @include omega(n);
        }

      }

      a{
        @include span-columns(2);
        padding-top: 1.1%;
      }
    }
  }

#goalsInfo{
  height: 860px;
  margin-top: 25px;

  #customerContainer{
    @include span-columns(3.5);
    height: 300px;

    &:first-of-type{
      @include shift(1.4);
    }
    #customerPicture1,
    #customerPicture2,
    #customerPicture3 {
      @include span-columns(9);
      height: 250px;
    }

    #customerQuote{

    }
  }
}

  footer {
    margin-top: 10px;

    #socialNav {
      @include shift(2);

      a{
        @include span-columns(3.3);
      }
    }

    #footerNav1{
      a {
        @include span-columns(3);

        &:first-of-type{
          @include shift(3.5);
        }
      }
    }

    #footerNav2{
      a {
        @include span-columns(3);


        &:first-of-type{
          @include shift(3.5);
        }
      }
    }

    #footerNav3{
      a {
        @include span-columns(3);

        &:first-of-type{
          @include shift(3.5);
        }
      }
    }

    #footerNav4{
    a {
      @include span-columns(3);

      &:first-of-type{
        @include shift(3.5);
      }
      }
    }
  }
}

@media (max-width: 480px) and (min-width: 280px) {

  header{
    height: 50px;
    padding-top: 8px;

    #logo{
      @include span-columns(6);
      @include omega(n);

      i{
        font-size: 30px;
      }

      span{
        margin-left: 10px;
        font-size: 30px;
      }
    }

    #headerNav{
      @include span-columns(4);
      @include shift(.5);
      @include omega(n);
      margin-top: 5px;

      input{
        @include span-columns(9);
      }

      a{

        &:hover{
          border: none;
        }
      }
    }
  }

#splashpage{

  #homeNav{

    span{
      display: none;
    }

    a{
      @include shift(9.7);
    }
  }
}

#hero{
  height: 200px;

  #signupBtn{
    @include span-columns(4);
    @include shift(7);
    @include omega(n);
    top: 105px;
    padding-top: 7px;
  }

  #textTop{
    @include span-columns(12);
    @include omega(n);
    margin-top: 15px;
    margin-left: 15px;
    font-size: 25px;
  }

  #textBottom{
    @include span-columns(12);
    @include omega(n);
    margin-top: 1px;
    margin-left: 15px;
    font-size: 25px;
  }
}

#goalsInfo{
  height: 1100px;
  margin-top: 25px;

  #customerContainer{
    @include span-columns(11);
    @include shift(1.5);
    height: 350px;
    margin-top: 20px;

    &:first-of-type{
      @include shift(1.5);
      margin-top: 0;
    }

    #customerPicture{
      @include span-columns(6.5);
      @include shift(1.5);
      height: 180px;
    }

    #customerQuote{
      @include span-columns(9.5);
      @include shift(0);
    }
  }
}

footer{
  #logo{
    @include span-columns(6);
    @include omega(n);

    i{
      font-size: 30px;
    }

    span{
      margin-left: 10px;
      font-size: 30px;
    }
  }

  #socialNav{
    @include span-columns(5);
    @include shift(.5);
    @include omega(n);
    margin-top:25px;

    a{
      @include span-columns(2.1);

      &:first-of-type{
        @include shift(4.5);
      }
    }

    i{
        @include span-columns(8);
    }
  }

  #footerNav1{
    a{
      @include span-columns(4);

      &:first-of-type{
        @include shift(2.5);
      }
    }
  }

  #footerNav2{
    a{
      @include span-columns(4);

      &:first-of-type{
        @include shift(2.5);
      }
    }
  }

  #footerNav3{
    a{
      @include span-columns(4);

      &:first-of-type{
        @include shift(2.5);
      }
    }
  }

  #footerNav4{
    a{
      @include span-columns(4);

      &:first-of-type{
        @include shift(2.5);
      }
    }
  }

  }
}
