@import "../../dist/bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../dist/bower_components/neat/app/assets/stylesheets/neat";

*{
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  @include outer-container(100%);
}

header{
  @include span-columns(12);
  height: 70px;
  padding: 12px 0 0 0;


  #logo {
    @include span-columns(4);
    @include shift(.5);
    font-weight: lighter;
    letter-spacing: .5px;
    text-decoration: none;
    color: #5F95E3;

    i {
      margin-right: 7px;
      font-size: 42px;
    }

    span{
      font-family: 'Armata', sans-serif;
      font-weight: normal;
      font-size: 36px;
    }
  }

  #headerNav{
    @include span-columns(3);
    @include shift(4.5);
    margin-top: 8px;

    input{
      @include span-columns(8);
      height: 25px;
      font-size: 15px;
      font-weight: lighter;
    }

    a{
      @include span-columns(1);
      @include shift(.7);
      text-decoration: none;
      color: #000;
      height: 25px;
      padding-top: 5px;
      font-weight: lighter;

      &:hover{
        color: #5D76D4;
      }
    }
  }
}

#splashpage{
  @include span-columns(12) ;

  #homeNav {
    background-color: #F3F3F3;
    height: 30px;
    padding: 7px 0 0 0;

    span{
      @include shift(.5);
      @include span-columns(4);
      font-weight: lighter;
    }

    a{
      @include shift(6.5);
      text-decoration: none;
      color: #000;
      margin-right: 15px;
      font-weight: lighter;

      &:hover{
        color: #5D76D4;
        }
      }
    }
  }

  #hero{
    @include span-columns(12);
    background: gray url("../../assets/goalHero.jpg") no-repeat fixed center;
    height: 600px;

      #signupBtn{
        @include span-columns(1.5);
        @include shift(2.2);
        margin-top: 20%;
        height: 40px;
        border: none;
        border-radius: 5px;
        background: #F7263C;

      }
  }

  #goalsInfo{
    height: 500px;
  }
