@import "../../dist/bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../dist/bower_components/neat/app/assets/stylesheets/neat";
@import "../../dist/bower_components/normalize-css/normalize";

*{
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  @include outer-container(100%);
}

header{
  @include span-columns(12);
  height: 60px;
  padding: 12px 0 0 0;
  border-bottom: #F3F3F3 3px solid;


  #logo {
    @include span-columns(4);
    @include shift(.5);
    font-weight: lighter;
    letter-spacing: .5px;
    text-decoration: none;
    color: #3878D7;

    i {
      @include span-columns(1);
      margin-right: 13px;
      margin-top: 2px;
      font-size: 38px;
    }

    span{
      font-family: 'Armata', sans-serif;
      font-weight: normal;
      font-size: 36px;
    }
  }

  #headerNav{
    @include span-columns(3);
    @include shift(4.5);
    margin-top: 8px;

    input{
      @include span-columns(8);
      height: 25px;
      font-size: 15px;
      font-weight: lighter;
    }

    a{
      @include span-columns(1.85);
      @include shift(.3);
      text-decoration: none;
      color: #000;
      height: 25px;
      padding-top: 5px;
      font-weight: lighter;

      &:hover{
        color: #5D76D4;
        border-bottom: red 2px solid;
      }
    }
  }
}

#splashpage{
  @include span-columns(12) ;

  #homeNav {
    background-color: #F3F3F3;
    height: 27px;
    padding: 4px 0 0 0;

    span{
      @include shift(.5);
      @include span-columns(4);
      font-weight: lighter;
    }

    a{
      @include shift(6.42);
      text-decoration: none;
      color: #000;
      margin-right: 15px;
      height: 30px;
      font-weight: lighter;

      &:hover{
        color: #5D76D4;
        border-bottom: red 2px solid;
        }
      }
    }
  }

  #hero{
    @include span-columns(12);
    background: gray url("../../assets/goalHero.jpg") no-repeat fixed center;
    height: 450px;
    position: relative;
    color: #fff;
    font-weight: lighter;


      #signupBtn{
        @include span-columns(1.4);
        @include shift(7.3);
        font-size: 20px;
        font-weight: lighter;
        color: #fff;
        height: 40px;
        border: none;
        border-radius: 5px;
        background: #F7263C;
        position: absolute;
        top: 195px;
        left: 15px;
        text-decoration: none;
        text-align: center;
        padding-top: .6%;

        &:hover{
          background: #B71C2D;
        }
      }

      #textTop{
        @include span-columns(5);
        margin-left: 50%;
        margin-top: 70px;
        font-size: 2.6vw;
      }

      #textBottom{
        @include span-columns(5);
        margin-left: 53%;
        font-size: 2.5vw;
        margin-top: 15px;
      }
  }

  #goalsInfo{
    height: 500px;
  }

#customerPicture{
  @include span-columns(2);
  margin-top: 5%;
  height: 200px;
  background: gray url("../../assets/man.jpg") no-repeat -292px -73px;
  border-radius: 50%;
  top: 500px;

  &:first-of-type{
    @include shift(3);
  }
}

#customerQuote{
  @include span-columns(2);
  height: 200px;
  background: #fff;
  margin-top: 60px;
  font-weight: lighter;
  color: gray;
  padding: 7px;

  &:first-of-type{
    @include shift(3);
  }
}

footer{
  @include span-columns(12);
  height: 250px;
  background: #A0A0A0;
  margin-top: 40px;

  #logo {
    @include span-columns(4);
    @include shift(.5);
    margin-top: 20px;
    font-weight: lighter;
    letter-spacing: .5px;
    text-decoration: none;
    color: #FFF;

    i {
      @include span-columns(1);
      margin-right: 13px;
      margin-top: 2px;
      font-size: 38px;
    }

    span{
      font-family: 'Armata', sans-serif;
      font-weight: normal;
      font-size: 36px;
    }
  }

  #socialNav{
    @include span-columns(2);
    @include shift(5);
    margin-top: 30px;

    a{
      @include span-columns(2);

      i{
        @include span-columns(10);
        font-size: 30px;
        color: #fff;

        &:hover{
          color: #5F95E3;
          border-bottom: red 2px solid;
        }
      }
    }
  }

  #footerNav1{
    @include span-columns(12);
    margin-top: 20px;
      a{
        @include span-columns(2);
        text-decoration: none;
        color: #fff;
        font-weight: lighter;
        font-size: 20px;

        &:first-of-type{
          @include shift(4);
        }

        &:hover{
          color: red;
          text-decoration: underline;
        }
      }
  }

  #footerNav2{
    @include span-columns(12);
    margin-top: 5px;
      a{
        @include span-columns(2);
        text-decoration: none;
        color: #fff;
        font-weight: lighter;
        font-size: 20px;

        &:first-of-type{
          @include shift(4);
        }

        &:hover{
          color: #5F95E3;
          text-decoration: underline;
        }
      }
  }

  #footerNav3{
    @include span-columns(12);
    margin-top: 5px;
      a{
        @include span-columns(2);
        text-decoration: none;
        color: #fff;
        font-weight: lighter;
        font-size: 20px;

        &:first-of-type{
          @include shift(4);
        }

        &:hover{
          color: red;
          text-decoration: underline;
        }
      }
  }

  #footerNav4{
    @include span-columns(12);
    margin-top: 5px;

      a{
        @include span-columns(2);
        text-decoration: none;
        color: #fff;
        font-weight: lighter;
        font-size: 20px;

        &:first-of-type{
          @include shift(4);
        }

        &:hover{
          text-decoration: underline;
          color: #5F95E3;
        }
      }
  }
}

@media screen and (max-width: 1113px) {

  header{
    #logo{
      span {
        margin-left: 5px;
      }
    }

    #headerNav{
      a{
        @include span-columns(2.8)
      }
    }
  }

  #splashpage{
    #homeNav{

      span{
        @include shift(.5);
        @include span-columns(6);
        font-weight: lighter;
      }

      a{
        margin: 0 5px 0 38%;
      }
    }
  }

  #hero{
    #textTop{
      @include span-columns(5);
      margin-left: 50%;
      margin-top: 70px;
      font-size: 3vw;
    }

    #textBottom{
      @include span-columns(6);
      margin-left: 53%;
      font-size: 2.8vw;
      margin-top: 15px;
    }
  }

  #customerPicture{
    @include span-columns(3);
    margin-top: 5%;
    height: 250px;
    background: gray url("../../assets/man.jpg") no-repeat -292px -73px;
    border-radius: 50%;
    top: 500px;

    &:first-of-type{
      @include shift(1.5);
    }
  }

  #customerQuote{
    @include span-columns(3);
    height: 200px;
    background: #fff;
    margin-top: 60px;
    font-weight: lighter;
    color: gray;
    padding: 7px;

    &:first-of-type{
      @include shift(1.5);
    }
  }

  footer{
    #logo{
      span {
        margin-left: 5px;
      }
    }

    #socialNav{
      @include span-columns(2.3);
      @include shift(4.8);
      margin-right: 0;
    }
  }

}

@media screen and (max-width: 890px) {

  header{
    #logo{

    }

    #headerNav{
      a{
        @include span-columns(2.85)
      }
    }
  }

  #splashpage{
    #homeNav{

      span{
        @include shift(.5);
        @include span-columns(5);
        font-weight: lighter;
      }

      a{
        @include span-columns(1);
        margin: 0 5px 0 46%;
        height: 20px;
      }
    }
  }


}

//////////////////////////////////////////////////////////////////////////////
//SIGN UP
//////////////////////////////////////////////////////////////////////////////

#signupPage{
  color: #3878D7;
  font-weight: lighter;
  font-size: 20px;

#signupForm{

  label{
    @include span-columns(4);
    @include shift(4);
    margin-bottom: 5px;

    &:first-of-type{
      margin-top: 40px;
    }
  }

  input{
    @include span-columns(4);
    @include shift(4);
    margin-bottom: 5px;
    border: #A0A0A0 1px solid;
    border-radius: 3px;
    color: gray;

    &:focus{
      height: 32px;
    }

    &:last-of-type{
      height: 32px;
      margin-top: 5px;
      color: #fff;
      border: none;
      background: #F7263C;

        &:hover{
          background: #B71C2D;
        }

      }
    }
  }

  a{
    @include span-columns(4);
    @include shift(7);
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 910px) {

  }
}

////////////////////////////////////////////////////////////////////////////////
// SIGN IN PAGE
////////////////////////////////////////////////////////////////////////////////

#signinPage{
  color: #3878D7;
  font-weight: lighter;
  font-size: 20px;

#signinForm{

  label{
    @include span-columns(4);
    @include shift(4);
    margin-bottom: 5px;

    &:first-of-type{
      margin-top: 40px;
    }
  }

  input{
    @include span-columns(4);
    @include shift(4);
    margin-bottom: 5px;
    border: #A0A0A0 1px solid;
    border-radius: 3px;
    color: gray;

    &:focus{
      height: 32px;
    }

    &:last-of-type{
      height: 32px;
      margin-top: 5px;
      color: #fff;
      border: none;
      background: #F7263C;

        &:hover{
          background: #B71C2D;
        }

      }
    }
  }

  a{
    @include span-columns(4);
    @include shift(7);
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }

}

////////////////////////////////////////////////////////////////////////////////
// HOME PAGE
////////////////////////////////////////////////////////////////////////////////

#homepage{

  aside{
    @include span-columns(3);
    margin-top: 10px;

    #userInfo{
      @include span-columns(11.5);
      @include shift(.5);
      background: #F78883;
      border: #A0A0A0 2px solid;
      border-radius: 8px;
      margin-bottom: 5px;

      #userAvatar{
          @include span-columns(6);
          margin-top: 5%;
          height: 150px;
          background: gray url("../../assets/man.jpg") no-repeat -335px -92px;
          border-radius: 50%;
          border: #fff 4px solid;
          top: 500px;

          &:first-of-type{
            @include shift(1.5);
          }
        }

      span{
        @include span-columns(10);
        @include shift(3);
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: lighter;
        color: #3878D7;

        &:first-of-type{
          margin-top: 15px;
        }
      }
    }

    #friendsList{
      @include span-columns(11.5);
      @include shift(.5);
      height: 400px;
      background: #F3F3F3;
      border: #A0A0A0 2px solid;
      border-radius: 8px;

      span{
        @include span-columns(10);
        @include shift(1);
        font-size: 20px;
        font-weight: lighter;
        color: #3878D7;
        margin-top: 10px;
        text-decoration: underline;
      }

      #followingList{
        @include span-columns(12);

        a{
          @include span-columns(10);
          text-decoration: none;
          color: black;
          margin-top: 5px;

          &:hover{
            color: red;
          }
        }
      }
    }
  }

  #goalsListBox{
    @include span-columns(8.7);
    margin-top: 10px;
    height: 657px;
    background: #F3F3F3;
    border: #A0A0A0 2px solid;
    border-radius: 8px;

    span{
      @include span-columns(11);
      @include shift(.5);
      margin-top: 20px;
      padding: 5px 0 5px 15px;
      font-size: 30px;
      font-weight: lighter;
      background: #3878D7;
      color: #fff;
      border-radius: 8px;

    }
  }
}
